/* .react-tabs__tab-list {
    padding: 0;
    margin-bottom: 0;
}

.react-tabs {
    width: 95%;
    margin-top: 2em;
}

.react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    background-color: rgb(220, 243, 248);
    border-top: 3px solid rgb(143, 143, 236);
    margin-right: 3px;
}

.react-tabs__tab--selected {
    background: #fff;
    color: purple;
    font-weight: 700;
    border-top: 3px solid purple;
}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
    background-color: lightblue;
}

.react-tabs__tab:focus {
    box-shadow: 0 0 5px purple;
    border-color: purple;
    outline: none;
}

.react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
    background-color: white;
}
 */

.ant-tabs {
    font-family: 'Lato' !important;
    user-select: none,
}

.ant-tabs-bar {
    margin: 0 !important;
}

.card-container > .ant-tabs-card > .ant-tabs-content {
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
    border-color: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
    font-weight: 500;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab > a{
    color: black;
    user-select: none;
    font-weight: 500;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active > a {
    font-weight: 700;
    font-family: 'Lato';
    user-select: none;
    color: var(--primary) !important;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    font-weight: 500;
    font-family: 'Lato';
    color: var(--primary) !important;
}

.ant.tab.tabpane {
    border: 1px solid grey
}

.ant-tabs-tab-active > div {
    font-weight: 500;
    font-family: 'Lato';
    color: var(--primary) !important;
}

.ant-tabs-content {
    height: 100%;
    padding-bottom: 3em;
    overflow: hidden;
}

.ant-tabs-ink-bar {
    background-color: var(--primary) !important;
}

.ant-tabs-vertical > .ant-tabs-bar .ant-tabs-ink-bar {
    width: 4px !important;
}