body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Roboto";
}

html{
    height: 100vh;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px white inset;
    -webkit-text-fill-color: black !important;
}